NODE_ENV=development
PORT=4000
DATABASE_PATH=../database/panel.sqlite
JWT_SECRET=cambia_este_secreto_en_produccion
JWT_EXPIRES_IN=12h
CORS_ORIGIN=http://localhost:5173
ADMIN_USER=admin
ADMIN_PASSWORD=admin123
MOVIMIENTOS_JSON_PATH=../movimientos.json
BACKUP_CRON=0 3 * * *
